html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}

/*Navigation Section*/

.top-navigation {
	background-color: #fff;
	display: flex;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.top-navigation > .content {
	width: 60rem;
	height: 4.375rem;
	margin: 0 auto;
	padding: 0rem 1rem;
}

.nav-links > li > a {
	color: #838994;
	text-decoration: none;
	margin: .7em;
}

#logo {
	max-width: 1.5em;
	margin-top: 1em;
}

.top-navigation .nav-links {
    float: right;
    margin-top: 1.5rem;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .nav-links li {
    display: inline-block;
    margin-left: .7rem;
}
.top-navigation .nav-links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .nav-links a:hover {
    cursor: pointer;
    color: #333333;
}

/*Introduction Section*/
.introduction {
	background-image: url('first-background.jpg');
	background-position: center 0 bottom;
	background-size: cover;
	background-repeat: no-repeat;
	height: 45rem;
	overflow: auto;
}

.introduction h1, .introduction h3 {
	font-weight: 300;
	color: white;
	text-align: center;
}

.introduction h1 {
	font-size: 3.125rem;
	margin-top: 17.5rem;
}

button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	background-color: #f15a29;
	font-size: 1.125rem;
	color: white;
	margin: 0 auto;
	font-weight: 300;
}

button:hover {
	cursor: pointer;
	background-color: #d9400e;
}

.buttons {
	display: flex;
}

/*Icons Sections*/
.value .devices {
	width: 32.8%;
	display: inline-block;
}

.devices img {
	max-height: 8rem;
	display: inline;
}

.value h2, .value h3 {
	color: #1d1e21;
	text-align: center;
}

.value h2 {
	font-size: 2.75rem;
	margin-top: 7rem;
	font-weight: 300;
}

.value h3 {
	font-weight: 400;
	font-size: 1.5rem;
	margin: 2.5rem 0px 1rem;
}